a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/* copy from W3 school with modifications from me */
.btn-toogle-switch {
    display: flex;
    align-items: center;
    gap: 10px;

    .switchs {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }
      
      
      .switchs input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: $brand-primary;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
}


.btn-toogle-switch .label {
    display: none;
}

.btn-primary {
    background-color: $brand-primary;
    color: $light-text;
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    &:hover {
        background-color: $color-grey;
        color: $light-text;
        text-decoration: none;
    }
    i {
        margin-right: 0.5rem;
    }
    
}

.btn-mobile {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: var(--color-text);
}

.nav-link {
    color: var(--color-text);
    font-weight: 600;
    text-decoration: none;
    padding-left: 2rem;
    &:hover {
        text-decoration: underline;
    }
}
.navbar {
    display: none;
}

#signin {
    display: none;
}

#container-1 {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 1.5rem;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.3rem;
    font-weight: 800;
    color: var(--color-text);
    text-decoration: none;
}


@media (min-width: 768px) {
    #container-1 {
    max-width: 720px;
    }
    .btn-toogle-switch .label {
        display: block;
    }
    .nav {
        gap: 3rem;

    }
}

@media (min-width: 1400px) {
    #container-1 {
    max-width: 1320px;
    }
    .btn-toogle-switch .label {
        display: block;
    }
    .nav {
        grid-template-columns: auto 1fr auto auto;
        gap: 3rem; // ta bort?
    }
    #signin {
        display: block;
    }
    .btn-mobile {
        display: none;
    }
    .navbar {
        display: block;
    }
}

