.section-8 {
    padding: 0 1rem 3rem 1rem;
}
.part-8 {
    background-color: var(--color-background-blue);
  }

.text-subscribe {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1rem;
    font-size: 1.35rem;
    font-weight: 800;
    line-height: 1.8875rem;
}
.text-subscribe-desktop-only {
    display: none;
}
.form {
    display: flex;
    align-items: center;
    width: 100%;
}
input::placeholder {
    padding-left: 1rem;
    justify-content: flex-start;
}

.input-icon {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 1rem;
}
.fa-envelope {
    position: absolute;
    top: 50%;
    left: .5rem;
    transform: translateY(-50%);
    color: var(--color-envelope);
} 
.form-input {
    background-color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    padding: 1rem 1.7rem;
    width: 100%;
}
.btn-subscribe {
    border: none;
    position: absolute;
    vertical-align: middle;
    right: 0;
    background-color: $brand-primary;
    color: $light-text;
    border-radius: 0.375rem;
    width: 7rem;
    height: 100%;
    aspect-ratio: 1;
    &:hover {
        background-color: $color-grey;
        color: $light-text;
        text-decoration: none;
    }
}

@media (min-width: 768px) {
    .part-8 {
        min-width: 720px;
        display: flex;
        height: 13.63rem;
        margin-right: 2rem;
        margin-left: .5rem;
    }
    .btn-subscribe {
        border: none;
        position: absolute;
        vertical-align: middle;
        right: 0;
        background-color: $brand-primary;
        color: $light-text;
        border-radius: 0.375rem;
        width: 7rem;
        height: 100%;
        aspect-ratio: 1;
        &:hover {
            background-color: $color-grey;
            color: $light-text;
            text-decoration: none;
        }
    }
    .text-subscribe {
        margin: 1rem 3rem 1rem 1rem;
        gap: 3rem;
    }
    .text-subscribe h4 {
        font-size: 1.41875rem;
        font-weight: 800;
    }
    .only-mobile-tablet {
        display: flex;
    }
}

@media (min-width: 1400px) {
    .part-8 {
        max-width: 1320px;
        margin: 0 auto;
        padding: 0 1rem 3rem 1rem;
    }
    .only-mobile-tablet {
        display: none;
    }
    .text-subscribe-desktop-only {
        display: block;
        display: flex;
        margin: 1rem 0 0 3rem;
    }
    .form-input {
        background-color: var(--color-background-boxfb);
    }
    .fa-envelope {
        position: absolute;
        top: 50%;
        left: .5rem;
        transform: translateY(-50%);
        color: var(--color-envelope);
    } 
}